button{
    padding: 2ch;
    
}
.gameWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gameTop{
    display: flex;
    flex-direction: row;
}
.game{
    display: flex;
    flex-direction: column;
}
#Field div{
    display: flex;
    flex-flow: row;
}
[class^="fieldtile"]{
    align-content: center;
    font-size: 2ch;
    font-weight: bold;
    background-color: gainsboro;
}
.fieldtile-B{
    color: red;
}
.fieldtile-A{
    background-color: rgb(21, 109, 21);
    color: transparent;
}
.fieldtile-0{
    color: transparent;
}
.fieldtile-1{
    color: blue;
}
.fieldtile-2{
    color: blueviolet;
}
.fieldtile-3{
    color: black;
}
.fieldtile-4{
    color: green;
}
.fieldtile-5{
    color: goldenrod;
}
.fieldtile-6{
    color: yellowgreen;
}
.fieldtile-7{
    color: purple;
}
.fieldtile-8{
    color: gray;
}